*{
    text-align: center;
}
.row{
    padding-top: 50px;
}
p{
    padding-top: 25px;
    padding-bottom: 25px;
}
ul{
    padding-top: 25px;
    padding-bottom: 25px;
}
.list-group{
    padding-top: 25px;
    padding-bottom: 25px;
}
