
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Les étudiants
      </h2>
      <p>
        Mis à jour : {{ lastUpdate| async | date }}
      </p>
      <ul class="list-group">
        <app-creators *ngFor="let creator of creators; let i = index"
                      [index]="i"
                      [creatorName]="creator.name"
                      [creatorStatus]="creator.status">
          [id]="creator.id"
        </app-creators>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="allPresent()">Tous Présents
      </button>
      <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="allAbsent()">Tous Absent
      </button>


      >


    </div>
  </div>
</div>
